@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main{
    overflow: hidden;
}

.spanish{
    display:block;
}

.english{
    display: none;
}

.spanish_footer{
    display: block;
}

.english_footer{
    display: none;
}

.slider_container{
    width: 100%;
    height: 100%;
    display: flex;
}

.slider_container__eng{
    width: 100%;
    display: flex;
}

.contenido_slider{
    width: 100%;
    flex-shrink: 0;
}

.contenido_slider__eng{
    width: 100%;
    flex-shrink: 0;
}

.img_home{
    position: absolute;
    width: 100%;
    /* height: 975px; */
}

.botones_header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}

.botonLogo{
    background-color: #373737;
    width: 459px;
    height: 105px;
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logoBoton_1{
    width: 66px;
    height: 66px;
}

.titulo_boton{
    font-size: 18px;
    color:white;
    font-family: 'Playfair Display', serif;
}

.botonContacto{
    background-color: #505954;
    width: 302px;
    height: 68px;
    border-radius: 46px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_contacto{
    color:white;
    font-size: 16px;
    font-family: 'Roboto'; 
}

.icono_Contacto{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.icono_mail{
    font-size: 30px;
    line-height: 50px;
}

.menu_lateral{
    position: relative;
    margin-top: 140px;
}

ul{
    list-style: none;
}


.li_laterla_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #F5F5F5;
    border-left: none;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_laterla{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 0 10px 10px 0;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
}

.menu_lateral__right{
    position: absolute;
    margin-top: 140px;
    margin-left: 905px;
    
 }

.li_lateralRight_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #F5F5F5;
    border-right: none;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_lateralRight{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 10px 0 0 10px;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    margin-left: 105px;
}

.btn_idioma{
    position: relative;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 30px;
}

.idioma_btn{
    background-color: #E7BAA0;
    width: 80px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* .idioma_btn ::after {
    content: '';
    display: block;
    background-color: #E7BAA0;
    width: 48px;
    height: 45px;
    margin-top: 2px;
    margin-left: 14px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    transition: .3s ease all;
    opacity: 0.4;
}

.active ::after{
    right: 0;
    left: unset;
} */

.btn_spanish{
    width: 74px;
    height: 42px;
    transition: 0.3s;
    background: none;
}

.btn_spanish:hover{
    transform: scale(1.2);
}

.btn_english{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    
}

.btn_english:hover{
    transform: scale(1.2);
}

.idioma_btn__2{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__3{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 160px;
    margin-right: 20px;
}

.idioma_btn__4{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__5{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer{
    background-color: #373737;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
   
}

.info_footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.logos_footer{
    background-color: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}

.icons_footer{
    line-height: 25px;
    font-size: 14px;
}

h4{
    font-family: 'Roboto';
    color: #E7BAA0;
    font-size: 14px

}

p{
    font-family: 'Roboto';
    color: white;
    font-size: 14px;
    
}

.text_talento{
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.estilo_talento{
    margin-top: 15px;
}

